<section class="vh-100" style="background-color:rgb(174, 182, 212);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://www.tissotwatches.com/media/home/watch_for_him_seastar.jpg?im=Resize=(1785,2205),aspect=fill;Crop=(0,0,1785,2205),gravity=Center"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:100%"  />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="/admin/add-brands" method="post">

                    

                  <div class="d-flex align-items-center mb-3 pb-1">
                    {{!-- <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> --}}
                    <span class="h1 fw-bold mb-0">Patek Philippe</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Add Brands</h5>

                  <div class="form-outline mb-4">
                    <input type="text" name="brandname" id="form2Example17" class="form-control form-control-lg" required/>
                    <label class="form-label" for="form2Example17">Add Brands</label>
                  </div>

                

                 

                  <div class="pt-1 mb-4">
                    {{!-- <button class="btn btn-dark btn-lg btn-block" type="button">Login</button> --}}
                    <input class="btn btn-warning btn-block btn-lg gradient-custom-4 text-body" type="submit" value="Add Brands" required>

                  </div>

                  
                  
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>